* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Hanken Grotesk', sans-serif;

    /* Colours */

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(221, 100%, 96%);
    --clr-neutral-400: hsl(241, 100%, 89%);
    --clr-neutral-900: hsl(224, 30%, 27%);

    --clr-red-200: hsla(0, 100%, 67%, 0.08);
    --clr-red-400: hsl(0, 100%, 67%);

    --clr-yellow-200: hsla(39, 100%, 56%, 0.08);
    --clr-yellow-400: hsl(39, 100%, 56%);

    --clr-green-200: hsla(166, 100%, 37%, 0.08);
    --clr-green-400: hsl(166, 100%, 37%);

    --clr-blue-200:  hsla(234, 85%, 45%, 0.08);
    --clr-blue-400:  hsl(234, 85%, 45%);

    --clr-bg-gradient-200: hsl(252, 100%, 67%);
    --clr-bg-gradient-400: hsl(241, 81%, 54%);

    --clr-circle-gradient-400: hsla(256, 72%, 46%, 1);
    --clr-circle-gradient-900: hsla(241, 72%, 46%, 0);


    /* Font sizes */

    --fs-400: 1.1em;
    --fs-500: 1.3em;
    --fs-700: 1.6em;
    --fs-900: 3.5em;

    --fs-title: var(--fs-500);
    --fs-body: var(--fs-400);
    --fs-large: var(--fs-700);
    --fs-huge: var(--fs-900);


    /* Font weights */

    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;

}