.grid-flow {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.grid-flow[data-spacing=large] {
    gap: 2rem;
}

.flex-flow {
    display: flex;
    gap: 0.8rem;
}

.section-title {
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
}