.results__overall {
    display: grid;
    justify-items: center;

    padding: 1.5em;

    background: linear-gradient(var(--clr-bg-gradient-200), var(--clr-bg-gradient-400));

    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}


/* Typography */

.results__title {
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-400);
}

.overall__reaction {
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-100);
}

.overall__info {
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-400);

    text-align: center;

    max-width: 30ch;
}


/* Data circle */

.overall__data {
    padding: 1.4em;
    aspect-ratio: 1;

    border-radius: 100%;
    background: linear-gradient(var(--clr-circle-gradient-400), var(--clr-circle-gradient-900) 100%);

    display: flex;    
    flex-direction: column;
    align-items: center;

    color: var(--clr-neutral-400);

}

.overall__data .big {
    font-size: var(--fs-huge);
    font-weight: var(--fw-extra-bold);
    color: var(--clr-neutral-100);
}


/* Spacing */

.results__title {
    margin-bottom: 1.2em;
}

.overall__reaction {
    margin-top: 0.8em;
    margin-bottom: 0.2em;
}

.overall__info {
    margin-bottom: 1em;
}