.summary {
    padding: 1.8em;
    padding-bottom: 5em;
    color: var(--clr-neutral-900);
}


.summary__card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 8px;

    padding: 1em;

}

[data-bg=accent-1] {
    background: var(--clr-red-200);
    color: var(--clr-red-400);
}

[data-bg=accent-2] {
    background: var(--clr-yellow-200);
    color: var(--clr-yellow-400);
}

[data-bg=accent-3] {
    background: var(--clr-green-200);
    color: var(--clr-green-400);
}

[data-bg=accent-4] {
    background: var(--clr-blue-200);
    color: var(--clr-blue-400);
}

.card__right-container {
    color: var(--clr-neutral-400);
}

.card__right-container b {
    color: var(--clr-neutral-900);
}


.card__title {
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
}


.summary__btn {
    border: none;
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);

    font-size: var(--fs-body);
    font-weight: var(--fw-bold);

    outline: none;

    border-radius: 2em;

    padding: 1em 0;

    width: 100%;

    transition: scalate 100ms ease-in;
}


.summary__btn:hover {
    background: linear-gradient(var(--clr-bg-gradient-200), var(--clr-bg-gradient-400));
}

.summary__btn:active {
    scale: 0.9;
}




.summary__card:hover .card__icon{
    animation: iconMovement 0.8s ease-in-out ;
}

@keyframes iconMovement {
    0%, 100% { scale: 1; }

    25% { scale: 0.5; }

    75% { scale: 1.2; }

}